@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$primary: #343c3d;

@import "../node_modules/bulmaswatch/darkly/variables";

$family-sans-serif: "Nunito", sans-serif;
$title-family: "HYWenHei", "TT_Skip-E", "Nunito", sans-serif;
$subtitle-family: "HYWenHei", "TT_Skip-E", "Nunito", sans-serif;

$input-color: $grey-lighter;
$input-background-color: $grey-dark;
$input-icon-color: $grey-light;
$input-icon-active-color: $grey-lighter;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";

@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";

@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/elements/progress.sass";
@import "../node_modules/bulma/sass/elements/title.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";
@import "../node_modules/bulma/sass/form/checkbox-radio.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

$border-width: 1px;

@import "../node_modules/bulmaswatch/darkly/overrides";
